%table.data
  %thead
    %tr
      %td{:width => '10%'} Device
      %td{:width => '40%'} Token
      %td{:width => '30%'} Auth Key
      %td{:width => '10%'} Usage
     
  %tbody
  - if devices.empty?
      %tr
        %td.empty{:colspan => 5}= empty_message
    - else
    - @devices.each do |device|
      %tr
        %td= device.label
        %td= device.token
        %td= device.auth_key.name
        %td= device.usage