%table.data
  %thead
    %tr
      %td{:width => '10%'} ID
      %td{:width => '15%'} Time
      %td{:width => '30%'} Auth Key
      %td{:width => '15%'} Status
      %td{:width => '30%'} Device
  %tbody
    - if notifications.empty?
      %tr
        %td.empty{:colspan => 5}= empty_message
    - else
      - notifications.each do |notification|
        %tr
          %td= link_to notification.id, [notification.auth_key.application, notification]
          %td= notification.created_at.to_s(:short)
          %td= notification.auth_key.name
          %td= notification.pushed_at ? 'Sent' : notification.error_code
          %td= link_to notification.device.label || 'Unidentified Device', [notification.device]
