%p.back= link_to "Back to #{@application.name}", [@application, :notifications]
%h2 Notification ##{@notification.id}

%h3 General Properties

%dl.info
  %dt Device
  %dd= link_to @notification.device.label.blank? ? @notification.device.token : @notification.device.label  , @notification.device
  %dt Auth Key
  %dd= link_to @notification.auth_key.name, [:edit, @application, @notification.auth_key]
  %dt Environment
  %dd= link_to @notification.auth_key.environment.name, [:edit, @application, @notification.auth_key.environment]
  %dt Resend
  %dd= link_to "Resend Notification", [:resend, @application, @notification], :method => :post

%h3 Delivery Status
%dl.info
  %dt Pushed at
  %dd= @notification.pushed_at ? @notification.pushed_at.to_s(:long) : 'Not pushed yet'
  %dt Status Code
  %dd= @notification.status_code || '&nbsp;'.html_safe
  %dt Status Reason
  %dd= @notification.status_reason || '&nbsp;'.html_safe

%h3 Alert Details
%dl.info
  %dt Body
  %dd= @notification.alert_body || '&nbsp;'.html_safe
  %dt Action Loc. Key
  %dd= @notification.action_loc_key || '&nbsp;'.html_safe
  %dt Loc. Key
  %dd= @notification.loc_key || '&nbsp;'.html_safe
  %dt Loc. Args
  %dd= @notification.loc_args || '&nbsp;'.html_safe
  %dt Launch Image
  %dd= @notification.launch_image || '&nbsp;'.html_safe

%h3 Sound Details
%dl.info
  %dt Sound
  %dd= @notification.sound || 'None'.html_safe

%h3 Badge Details
%dl.info
  %dt Badge
  %dd= @notification.badge || 'None'.html_safe

%h3 Custom Data
%pre= @notification.custom_data || "nil"
